body {
  background-image: url("https://d1ymz67w5raq8g.cloudfront.net/Pictures/460x307//4/1/6/17416_3organicchemistrybackground_619603.jpg");
  <link rel="stylesheet" href="css/estilos.css">
  <link rel="shortcut icon" href="img/watchmen.jpg" type="image/x-icon">
  background-size:auto; /*Podemos escolher o tamanho do background, o primeiro número é largura e o segundo é altura.
  Podemos também colocar NUMEROvh, que é a porcentagem do tamanho da tela que a pessoa está visualizando*/
/*Podemos usar tambem o comando:
background: "COR";*/
  height: 100vh; /*Tamanho do body*/
  font-family: Arial;
 
}
/*Ao criar uma "class" no HTML, podemos abri-la aqui no CSS, colocando um . e o nome da class
Mas ao usar o "id" no HTML, podemos abri-lo aqui no CSS colocando uma # e o nome do id*/
.menu {
  background-color: #32CD32; 
}
.menu ul {
  display: flex;
  justify-content: space-around;
}
/* Para selecionarmos elementos dentro de elementos temos que escrever de uma forma hierárquica, então quero mexer nos elementos li dentro do elemento menu*/
.menu li {
  list-style-type: upper-alpha;
}
a{
  color: #00008B;
  text-decoration: none;
}
/*Usamos o "a" para selecionar todos os links e abaixo usei o hover para selecionar quando acontece o "hover" que é passar o mouse sobre os elementos a*/
a:hover {
  text-decoration: underline;
}
.site-subtitle,
.site-title {
  color: Blue;
  text-align: center;
}
/*Podemos usar as mesmas características para classes diferentes, então como o meu título e subtítulo terá as mesmas características, posso escrever o nome de uma classe, o nome da outra e a seguir colocar as suas semelhanças, depois posso criar um segmento para uma específica classe para colocar as diferenças, por exemplo, meu subtítulo irá ficar em itálico, mas meu título não*/
.site-subtitle {
  font-style: italic;
}